<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WMHUD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D72EDDB61D4B333F00697334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D72EDDCF1D4B333F00697334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D72EDDDA1D4B333F00697334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
